body {
  background-image: url(background-stars.jpeg);
}

h1 {
  text-align: center;
  font-size: 72pt;
  color: black;
  background-color: #D9D9D9;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: purple;
  box-shadow: 0px 0px 50px purple;
}

#outside {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  border-radius: 50%;

  background: #353535;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  perspective: 100px;
  transition-delay: 1ms;
}

#inside {
  box-sizing: border-box;
  border-radius: 50%;

  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;

  background-color: #000000;
  border: 15px solid #C2C2C2;
  transition: all;
  transition-timing-function: linear;
  transition-duration: 0.25s;

}

#inside:active {


  transform: rotateY(21.85deg);
  margin-top: -100px;
  margin-left: 150px;
  width: 200px;
  height: 200px;
}

#triangle {
  box-sizing: border-box;

  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -109px;

  background: transparent;
  border: 1px solid #000000;
  filter: blur(4px);
  transform: rotate(180deg);

  border-color: transparent transparent #0B3EF3 transparent;
  border-style: solid;
  border-width: 105px 105px 200px 115px;
  height: 0px;
  width: 0px;
}

h2 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}